[Unit]
Description=Digital Photo Frame Viewer (Chromium Kiosk)
After=graphical.target photo_frame_server.service
Wants=photo_frame_server.service

[Service]
Type=simple
User=pi
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/chromium-browser --kiosk --noerrdialogs --disable-infobars --no-first-run --check-for-update-interval=31536000 --disable-session-crashed-bubble --disable-features=TranslateUI --disable-component-update http://localhost:8080/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
